<launch>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="sim" default="true"/>

  <include file="$(find ur_gazebo)/launch/ur5.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <node name="spawn_kinect" pkg="gazebo_ros" type="spawn_model" 
        args="-file $(find safety_cobot_control)/models/kinect.urdf -urdf -model kinect_safety -x 0.5 -y 0.0 -z 1.8 -P 1.57" />
          
  <node pkg="tf2_ros" type="static_transform_publisher" name="kinect_tf_broadcaster" 
        args="0.5 0.0 1.8 -1.57 0 -1.57 world kinect_link_optical_frame" />

  <node name="safety_filter" pkg="safety_cobot_control" type="safety_filter.py" output="screen" />      

</launch>